<!DOCTYPE html>
<html>
  <head>
    <title>My first Chartist Tests</title>
    <link rel="stylesheet"
          href="/vendor/chartist/dist/chartist.min.css">
  </head>
  <body>

  	<div class="ct-chart ct-perfect-fourth" id="chart1"></div>
  	<div class="ct-chart ct-perfect-fourth" id="chart2"></div>
	

    <!-- Site content goes here !-->
    <script src="/vendor/chartist/dist/chartist.min.js"></script>
  </body>


  <script type="text/javascript">
  	var data = {
  
		labels: ['Ontem','Hoje'],
		series: [
			[
				{x: 'superclient_logs', y:	11150.77 },
				{x: 'superclient_sessions', y:	2763.95 },
				{x: 'superclient_crontab_waits', y:	1202.72 },
				{x: 'superclient_or_flows', y:	517.98 }
			],
			[
				{x: 'superclient_logs', y:	12150.77 },
				{x: 'superclient_sessions', y:	4763.95 },
				{x: 'superclient_crontab_waits', y:	1002.72 },
				{x: 'superclient_or_flows', y:	417.98 }
			]
		]
	};

	var data2 = {
		labels:['superclient_logs','superclient_sessions','superclient_crontab_waits','superclient_or_flows'],
	  series: [11150.77,2763.95,1202.72,517.98]
	}


	
	var options = {
	  width: 600,
	  height: 400
	};

	new Chartist.Bar('#chart1',data,options);

	new Chartist.Pie('#chart2', data2, {
  donut: true,
  donutWidth: 60,
  startAngle: 270,
  showLabel: false
});
		
  </script>
</html>