<!doctype html>
<html lang="pt-br" ng-app="scl_monitor">
	
	<head>

		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="vendor/materialize/dist/css/materialize.min.css"  media="screen,projection"/>
		<meta charset="UTF-8">
	</head>

	<body ng-controller="ServicesController">


		<div class="container">
			<div class="row">
				<div ng-repeat="service in services" class="col s12 m3">
		            <div class="card {{service.icon.color}} lighten-3">
		                <div class="card-content">
		                    <div class="waves-effect waves-block waves-light center">
          						<i class="material-icons {{service.icon.color}}-text activator" > {{service.icon.icon}} </i>

		                    </div>
		                    <span class="card-title especial truncate black-text">
		                    	<h6>
		                    		{{service.name}}
		                    	</h6>
		                    </span>
		                    <p>
		                        {{service.updated}}
		                    </p>
		                </div>
		                <div class="card-reveal">
		                	<span class="card-title grey-text text-darken-4">
		                  		<i class="material-icons right">close</i>
		                  	</span>
		                  	<h3 class=" {{service.icon.color}}-text center">
		                  		{{service.qtd_errors}}
		                  	</h3>
		                </div>
		            </div>
	        	</div>
			</div>
		</div>


		<script src="vendor/angular/angular.js"></script>
		<script src="vendor/jquery/dist/jquery.js"></script>
		<script src="vendor/materialize/dist/js/materialize.js"></script>
		<script src="js/main.js"></script>
		<script src="js/services/services.js"></script>
		<script src="js/controllers/services.js"></script>

	</body>

</html>